<div class="card mb-2">
	<div class="card-header sable">
		<h2><a href='{{ path('show_faq', {'slug': faq.slug}) }}'>{{faq.name}}</a></h2>
	</div>
	<div class="card-body">
		
		<div class="card-text">
                        <div style='padding:.5em'>
    
    			{% if faq.image != null %}
    				{% thumbnail faq.image, 'medium' %} <br/>
    			{% endif %}

        		{{faq.content|striptags|truncate(400)|raw}}
    
                        {% if faq.fichier != null %}
			<h6 class="card-title text-muted mb-3"><a href="{% path faq.fichier, 'reference' %}">{{'Voir le fichier'|trans}}</a></h6>
		        {% endif %}
        		</div>
        	</div>
    	</div>
</div>