{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container'>
  {% include '@kohinos/block/breadcrumb.html.twig' with {'label': faq.name, 'label2': 'FAQ', 'url2': path('faq') } %}

<div class="row mt-3">

  <div class='col-12 col-lg-9 col-md-8 col-sm-12 col-xs-12 mb-3'>


  <div class="card mb-2">
		<div class="card-header sable"><h2><a id='zefaq'>{{faq.name}}</a></h2></div>
		<div class="card-body">
			<div class="card-text">
    			    <div style='padding:.5em'
                            <p>
                            	{{faq.content|raw}}
                            </p>
                            <p>
                            {% if faq.fichier is not null %}
                            	<a href="{% path faq.fichier, 'reference' %}">{{ 'Voir le fichier'|trans }}</a>
                            {% endif %}
                            {% if faq.image is not null %}
                            	{% thumbnail faq.image, 'small' with {'class': 'myclass'} %}
                            {% endif %}
                            </p>
                            </div>
                        </div>
               </div>
  </div>
  
    </div>

	<div class='col-12 col-lg-3 col-md-4 col-sm-12 col-xs-12'>
             {% include '@kohinos/common/rubriques.html.twig' %}
	     {% include '@kohinos/common/news.html.twig' %}
	</div>

</div>

</div>
{% endblock %}
