{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
	<div class='container homepage'>
		{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Contact'} %}
		<div class="card mx-auto mt-2" style="max-width:800px;">
			<div class="card-header sable"><h2>{{ 'Nous contacter'|trans }}</h2></div>
			<div class="card-body">
				<div class="mx-auto text-center" style="max-width:400px;padding:.5em;">
					{{form_start(form)}}
						{{ form_row(form.nom) }}
						{{ form_row(form.email) }}
						{{ form_row(form.message) }}
						{{ form_row(form.save) }}
					{{form_end(form)}}
		 		</div>
		 	</div>
		</div>
	</div>
{% endblock %}
