{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
    <div class='container homepage'>
		<div class='row mt-3'>


		 	<div class='col-12 order-2 order-md-1 col-md-3 order-sm-2 col-sm-12 col-lg-3'>
		 		{% block colonne_gauche %}
					{% include '@kohinos/common/rubriques.html.twig' %}

                                        {% if app.user is null %}
						{% set modal_id = 'mlcloginmodal' %}
						{% set modal_title = 'Se connecter'|trans %}
						{% set modal_content %}
							{% include '@kohinos/common/login.html.twig' %}
						{% endset %}
						{% include '@kohinos/block/modal.html.twig' with {'btn_primary' : null, 'btn_secondary' : null} %}
					{% endif %}
                                        
				        {% include '@kohinos/common/stats.html.twig' %}
                                        	
				{% endblock colonne_gauche %}
			</div>
			

			<div class='col-12 order-1 order-md-2 col-md-9 order-sm-1 col-sm-12 col-lg-6 text-center'>
				{% block colonne_centre %}

                                        {% include '@kohinos/block/useradmin.html.twig' %}

				{% endblock colonne_centre %}

			</div>


			<div class='col-12 order-3 order-md-3 col-md-12 order-sm-3 col-sm-12 col-lg-3'>
				{% block colonne_droite %}
					{% if app.user is null %}
						{% set modal_id = 'mlcloginmodal' %}
						{% set modal_title = 'Se connecter'|trans %}
						{% set modal_content %}
							{% include '@kohinos/common/login.html.twig' %}
						{% endset %}
						{% include '@kohinos/block/modal.html.twig' with {'btn_primary' : null, 'btn_secondary' : null} %}
						<a class='btn btn-primary w-100 mb-4' data-toggle="modal" data-target="#{{ modal_id }}" title='{{ 'Se connecter'|trans }}' href="{{path('fos_user_security_login')}}">{{ 'Se connecter'|trans }}</a>
					{% endif %}
				{% include '@kohinos/common/news.html.twig' %}
				{% endblock colonne_droite %}
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
{% include '@kohinos/presta/block/cartejs.html.twig' %}
{% endblock %}
