{% set title = page.name %}
{% set description = page.metadescription %}
{% set keywords = page.metakeywords %}
{% extends '@kohinos/common/layout.html.twig' %}

{% if page.css %}
	{% block css %}
		{{parent()}}
		{{ page.css|raw }}
	{% endblock css %}
{% endif %}

{% if page.js %}
	{% block js %}
		{{parent()}}
		{{ page.js|raw }}
	{% endblock js %}
{% endif %}

{% block content %}
<div class='container'>

	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : page.title, 'label2': 'Pages'} %}
<div class='row mt-3'>

        <div class='col-12 col-lg-9 col-md-8 col-sm-12 col-xs-12 mb-3'>

        <div class="card">
	<div class="card-header sable"><h2>{{page.title}}</h2></div>
		<div class="card-body">
			<div class="card-text">
                        
                        <div style='padding:.5em;'>
                        <p class="paragraf">
		        {{page.content|raw}}
	                </p>
	                </div>
	                
	                </div>
	        </div>
	</div>

	</div>

	<div class='col-12 col-lg-3 col-md-4 col-sm-12 col-xs-12'>
		{% include '@kohinos/common/rubriques.html.twig' %}
		{% include '@kohinos/common/news.html.twig' %}
	</div>
</div>

</div>
{% endblock %}
