{% if not isCotisationValid(app.user) %}
	<div class='text-danger mb-3'>{{ 'Si vous souhaitez utiliser les fonctionnalités de votre compte, vous devez avoir une cotisation valide !'|trans }}</div>
{% endif %}

{% set esoldelabel = 'Solde e-mlc'|trans %}
{% include '@kohinos/block/solde.html.twig' with {'compte': app.user.adherent.emlcAccount.balance, 'soldelabel': esoldelabel, 'currency' : 'e'~(KOH_MLC_SYMBOL|default(''))} %}
{% if isPayzenEnabled() %}
	{% include '@kohinos/adherent/block/achat_monnaie.html.twig' %}
{% else %}
	{% include '@kohinos/adherent/block/demande_achat_monnaie.html.twig' %}
{% endif %}
{% include '@kohinos/adherent/block/transaction_presta.html.twig' %}
{% include '@kohinos/adherent/block/transaction_adherent.html.twig' %}
{# {% include '@kohinos/block/transactions.html.twig' %} #}
{% include '@kohinos/block/operations.html.twig' %}
{% include '@kohinos/block/cotisations.html.twig' %}
{% include '@kohinos/adherent/block/infos.html.twig' %}
