
		<div class="groupeslocaux card mb-2">
	        <div class="card-header sable"><h2> &bull; Espace <a href='#'> demo custom </a> templates &bull; </h2></div>
                <div class="card-body">
		<div class="card-text">
		<p style='padding:.5em;text-align:left;'>
                L'espace demo propose des id&eacute;es de cr&eacute;ation de th&egrave;mes par la modifications des templates et les CSS optimis&eacute;es.
		</p>
		</div>
	        </div>
                </div>
             