{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container newslist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Actus'} %}

	<div class="row">
        {% for new in news %}
  	<div class="col-12 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-2">
		<div class="card">
			<div class="card-header sable"><h2><a href='{{path('show_news', {'slug': new.slug})}}'>{{ new.title|capitalize }}</a></h2></div>
                        
			<div class="card-body">
				<div class="card-text">
					{% if new.media %}
						{% set pathMedia = mediaurl(new.media, 'reference') %}
						{% if pathMedia ends with '.jpg' or pathMedia ends with '.png' or pathMedia ends with '.jpeg' or pathMedia ends with '.gif' %}
							<img src="{% path new.media, 'reference' %}" style="width: 100%;"/>
						{% else %}
							<a href="{% path new.media, 'reference' %}">{{ 'Télécharger'|trans }}</a>
						{% endif %}

					{% endif %}
					<div style='padding:.5em;'>
						<div class="text-muted">{{ 'Le'|trans }} {{new.createdAt|date('d/m/Y')}}</div>
    					{{new.content|truncate(200)|raw}}
					</div>
				</div>
			</div>
		
		</div>
	</div>

	{% endfor %}

	
<div class="pagination">
    	<div class='midcenter'>{{ knp_pagination_render(news) }}</div>
</div>


</div>
{% endblock %}