{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label': news.title, 'label2': 'Actus', 'url2': path('news') } %}

<div class="row mt-3">
	<div class='col-12 col-lg-9 col-md-8 col-sm-12 col-xs-12 mb-3'>

  	<div class="card mb-2">
		<div class="card-header sable"><h2><a id='lactu'>{{news.title}}</a></h2>
                </div>
		<div class="card-body">
			<div class="card-text">

				{% if news.media %}
					{% set pathMedia = mediaurl(news.media, 'reference') %}
					{% if pathMedia ends with '.jpg' or pathMedia ends with '.png' or pathMedia ends with '.jpeg' or pathMedia ends with '.gif' %}
						<img src="{% path news.media, 'reference' %}" style="max-width: 100%;"/>
					{% else %}
						<a href="{% path news.media, 'reference' %}">{{'Télécharger'|trans}}</a>
					{% endif %}

				{% endif %} 
                                <div style='padding:.5em;'>
				<div class="text-muted">{{ 'Le'|trans }} {{news.createdAt|date('d/m/Y')}}</div>

                                {{news.content|raw}}
                                </div>
			</div>
		</div>
	</div>
	
	</div>

	<div class='col-12 col-lg-3 col-md-4 col-sm-12 col-xs-12'>
		{% include '@kohinos/common/news2.html.twig' %}
	</div>

</div>

</div>
{% endblock %}
