{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
    <i class="fa fa-cogs mr-4"></i> {{ 'Configuration du Comptoir'|trans }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
    {% set form = getComptoirInfosForm(app.user) %}
    {{form_start(form)}}
        {{ form_row(form.name) }}
        {{ form_row(form.content) }}
        {{ form_row(form.media) }}
        {{ form_row(form.save) }}
    {{form_end(form)}}
{% endblock blockcontent %}