{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-external-link fa-external-link-alt mr-4"></i> {{ "Dépôt d'espèces adhérent"|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{% if app.session.has('_comptoirgere') %}
		{% set form = getChangeAdherentComptoirForm(app.user) %}
		{{ parent() }}
	{% else %}
		<span><em> {{ 'Aucun Comptoir assigné ! Veuillez contacter un administrateur !'|trans }} </em></span>
	{% endif %}
{% endblock blockcontent %}