{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-exchange fa-exchange-alt mr-4"></i> {{ 'Vente de billets à un adhérent'|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{% if app.session.has('_comptoirgere') %}
		{% set form = getVenteComptoirToXForm(app.user, 'adherent') %}
		{{ parent() }}
	{% else %}
		<span><em> {{ 'Aucun Comptoir assigné ! Veuillez contacter un administrateur !'|trans }} </em></span>
	{% endif %}
{% endblock blockcontent %}