{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container' style='max-width:800px;'>
	<div class='text-center mb-5 mt-2'>
		<h4 class='mt-3'><b>{{'Adhérer'|trans }}</b></h4>
	</div>
	<p>
	{% if isPayzenEnabled() %}
		{{form_start(form)}}
			{{ form_row(form.user) }}
			{% if form.groupe is defined %}
				{{ form_row(form.groupe) }}
			{% endif %}
			{{ form_row(form.geoloc) }}
			<div class='text-center mb-5 mt-2'>
				<h5><b>{{ 'Cotisation'|trans }}</b></h5>
			</div>
			{{ form_row(form.cotisation) }}
			<div class='text-center mb-5 mt-2'>
				{{ form_row(form.save) }}
			</div>
		{{form_end(form)}}
	{% else %}
		<div class='text-center mb-5 mt-2'>
			<p><i>Vous ne pouvez malheureusement pas adhérer ici, le paiement n'est pas configuré sur cette application.</i></p>
		</div>
	{% endif %}
	</p>
</div>
{% endblock %}
