{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container prestalist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Carte des comptoirs'} %}
	<div class='card'>
		<div class="card-header"><h3>{{ 'Carte des comptoirs :'|trans }}</h3></div>
		<div class="card-body">
			<div class="card-text">
				{% include '@kohinos/presta/block/carte.html.twig' with {title: 'Situer les comptoirs'|trans, id: 'comptoirid', style:"height: 400px;"} %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
{% include '@kohinos/comptoir/block/cartejs.html.twig' with {id: 'comptoirid'} %}
{% endblock %}
