{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container comptoirslist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Comptoirs'|trans } %}
    <div class="row">
    	{% for comptoir in comptoirs %}
    		<div class='col-12 col-md-6'>
        		{% include '@kohinos/comptoir/onecomptoir.html.twig' %}
        	</div>
    	{% endfor %}
    </div>
</div>
{% endblock %}
