<div class="card mb-2">
	<div class="card-header sable" style='cursor:pointer;'>
		<h2><a href='{{ path('show_comptoir', {'slug': comptoir.slug}) }}'>{{comptoir.name}}</a></h2>
	</div>

	<div class="card-body">
		{% if comptoir.content != null or comptoir.media != null %}
			
                        <div class="card-text mb-3 clearfix">
				{% if comptoir.media != null %}
		              <img class="w-25 float-right mr-2" src="{% path comptoir.media, 'big' %}" alt="{{comptoir.name}}">
		        {% endif %}

		        {% if comptoir.content != null %}
					<p>{{comptoir.content|truncate(250, true, '...')|raw}}</p>
			{% endif %}

	    	        </div>
		{% endif %}
                
                <div style='padding:.5em;'>

		{% if comptoir.getFullAddresse() != null %}
			<h5 class="card-title">{{comptoir.getFullAddresse()}}</h5>
			{# @TODO : afficher la carte avec le POI du comptoir #}
		{% endif %}

		{% if comptoir.contacts|length > 0%}
                <ul class="list-group" style='border:none;padding:0px;margin:0px;'>

                    {% for contact in comptoir.contacts|filter(v => v.enabled) %}
                      <li class="list-group-item" style='border:none;'>
	              <b>{{contact.name}}</b><br/>
	              {% if contact.tel != null %}{{contact.tel}}<br/>{% endif %}
	              {% if contact.email != null %}{{contact.email}}{% endif %}
	            </li>
                    {% endfor %}

                  </ul>
                {% endif %}

                {% if comptoir.groupe != null %}
        		<p class="card-subtitle">{{'Groupe local'|trans}} : <a href='{{ path('show_groupe', {'slug': comptoir.groupe.slug}) }}'>{{comptoir.groupe.__toString()}}</a></p>
        	{% endif %}
        	
		</div>
        </div>
</div>