{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container prestalist mt-2'>
	
        {% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Carte des prestataires'} %}
	<div style="padding:0px;margin:0px;">
		{% include '@kohinos/presta/block/carte.html.twig' with {style:"height:420px;width:100%"} %}
	</div>

</div>

<div class='container prestalist mt-2'>
<div class="row">
    {% for presta in prestas %}
	    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-2">
	    	{% include '@kohinos/presta/onepresta.html.twig' %}
		</div>

    {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
{% include '@kohinos/presta/block/cartejs.html.twig' %}
{% endblock %}
