{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container prestalist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : type} %}
    <div class="row">
    {% for presta in prestas %}
	    <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-2">
	    	{% include '@kohinos/presta/onepresta.html.twig' %}
		</div>

    {% endfor %}
	</div>
</div>
{% endblock %}
