<div class='card'>
	<div class="card-header sable">
		<h4>
			<a href="{{ path('show_prestataire', {'slug': presta.slug}) }}">{{presta.raison}}</a>
		</h4>
		<div class="h5 card-title">
			{% if presta.geolocs|length > 0%}
	        	{% for geoloc in presta.geolocs %}
	          		{% if geoloc.enabled %}
	            		<em>{{geoloc.geoloc}}</em><br/>
	          		{% endif %}
	        	{% endfor %}
		        {% endif %}
		</div>
		{% if withrubrique is not defined or (withrubrique is defined and withrubrique != false) %}
		    <div class="h6 card-title">
				{% if presta.rubriques|length > 0%}
					{% for rubrique in presta.rubriques %}
						<a class='rubrique' href='{{ path('show_rubrique', {'slug': rubrique.slug}) }}'>{{rubrique.name}}</a>
					{% endfor %}
				{% endif %}
			</div>
		{% endif %}
	</div>
	<div class="card-body">
		<div class="card-text">
			{% if presta.media %}
				<p class='mb-4'>
					{% set pathMedia = mediaurl(presta.media, 'reference')|lower %}
					{% if pathMedia ends with '.jpg' or pathMedia ends with '.jpeg' or pathMedia ends with '.png' or pathMedia ends with '.bmp' or pathMedia ends with '.gif' %}
						<img src="{% path presta.media, 'medium' %}" style="width: 100%;"/>
					{% else %}
						<a href="{% path presta.media, 'reference' %}">{{'Télécharger'|trans}}</a>
					{% endif %}
				</p>
			{% endif %}
			<div style='padding:.5em'>
			<div class="h4 card-title">{{presta.statut}}</div>
			{% if presta.description != null %}
				<p class='mb-4'>
				{{presta.description|striptags|truncate(250)|raw}}
				</p>
			{% endif %}
			{% if presta.horaires != null %}
				<p class='mb-4'><b>
				{{ 'Horaires'|trans }} : {{presta.horaires|raw}}
				</b></p>
			{% endif %}
			{% if presta.web != null %}
				<!-- p><a href='{{presta.web}}'>{{ ' Web '|trans }}</a></p -->
			{% endif %}
			</div>
		</div>
	</div>
</div>