{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container rubriquelist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Rubriques'|trans} %}
	
        <div class="row">
    {% for rubrique in rubriques %}
    	{% if rubrique.prestataires|length > 0 %}
	    	<div class="col-12 col-lg-4 col-md-4 col-sm-6 col-xs-12 mb-5">
		    	<div class="card rubrique mb-2">
					<h3 class="h4 card-header text-primary sable">
					  	{% if rubrique.media is not null %}
							{% thumbnail rubrique.media, 'small' %}
						{% endif %}
						<a class='rubrique' href='{{ path('show_rubrique', {'slug': rubrique.slug}) }}'>{{rubrique.name}}</a>
					</h3>
					{% if rubrique.content|length > 0 %}
						<div class="card-body">
							<div class="card-text">
					    		{{rubrique.content|raw}}
					    	</div>
						</div>
					{% endif %}
					<div class="card-text mx-auto text-center mt-2">
						<a href="#" class="card-text mt-3 btn btn-primary" data-toggle="collapse" data-target="#collapsepresta{{rubrique.id}}" aria-expanded="false" aria-controls="collapsepresta{{rubrique.id}}">
							{{ 'Voir les'|trans }} {{rubrique.prestataires|length}} {{'professionnels'|trans}}
						</a>
					</div>
		    		<ul class="list-group list-group-flush collapse mx-2 my-2" id="collapsepresta{{rubrique.id}}">
		    			{% for presta in rubrique.prestataires %}
			    			<div class='my-2'>
			    				{% include '@kohinos/presta/onepresta.html.twig' with { 'withrubrique': false} %}
			    			</div>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endif %}
    {% endfor %}
</div>
</div>
{% endblock %}
