{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container groupeshow mt-2'>
  {% include '@kohinos/block/breadcrumb.html.twig' with {'label': presta.raison, 'label2': 'Prestataires', 'url2': path('liste_prestataire') } %}
  <!-- <div class="my-2 p-3 bg-white rounded box-shadow">
    <div class="contentpresta p-4 mt-2">-->
<div class="row mt-3">

  <div class='col-12 col-lg-9 col-md-8 col-sm-12 col-xs-12 mb-3'>
      <div class="card mb-2">
        <div class="card-header">
          <h1>{{ presta.raison }}</h1>
          {% if presta.acceptemlc %}
            <span class='fa-stack fa-lg' data-toggle='tooltip' data-placement='bottom' title="Accepte la monnaie électronique">
              <i class='fa fa-at fa-stack-1x'></i>
              <i class='fa fa-fw fa-stack-2x'></i>
            </span>
          {% else %}
            <span class='fa-stack fa-lg' data-toggle='tooltip' data-placement='bottom' title="N'accepte pas la monnaie électronique">
              <i class='fa fa-at fa-stack-1x'></i>
              <i class='fa fa-ban fa-stack-2x text-danger'></i>
            </span>
          {% endif %}
          {% if presta.rubriques|length > 0%}
          {% for rubrique in presta.rubriques %}
              <a class='rubrique ml-2' href='{{ path('show_rubrique', {'slug': rubrique.slug}) }}'>{{ rubrique.name }}</a>
          {% endfor %}
          {% endif %}
          {# @TODO : ajouter le lien d'édition uniquement quand l'utilisateur peut l'éditer (Voter?) #}
          {% if app.user and (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_ADMIN_PRESTATAIRE_GERER_EDIT')) %}
              <a class='btn btn-primary float-right' href="{{ path('prestataire_edit', {'id': presta.id}) }}">Edit</a>
          {% endif %}
        </div>
        <div class="card-body">
          {% if presta.media != null %}
            <div class='w-25 float-right'>
              <img class="w-100" src="{% path presta.media, 'big' %}" alt="{{ presta.raison }}">
            </div>
          {% endif %}
          {% if presta.statut != null %}
            <div class="card-title text-muted mb-3">{{ presta.statut }}</div>
          {% endif %}
          {% if presta.groupe != null %}
            <div class="h4 card-subtitle mb-3">{{'Groupe local'|trans}} : <a href='{{ path('show_groupe', {'slug': presta.groupe.slug}) }}'>{{ presta.groupe.__toString() }}</a></div>
          {% endif %}
          {% if presta.siret != null %}
            <div class="h4 card-subtitle mb-3">{{'SIRET'|trans}} : {{ presta.siret }}</div>
          {% endif %}
          {% if presta.horaires != null %}
            <div class="card-subtitle mb-4"><b>{{'Horaires'|trans}} : {{ presta.horaires|raw }}</b></div>
          {% endif %}
          {% if presta.web != null %}
            <div class="h6 card-subtitle mb-3">{{'Site web'|trans}} : <a href='{{ presta.web }}' target='_blank' rel='noopener noreferrer'>{{ presta.web }}</a></div>
          {% endif %}
          {# {% if presta.responsable != null and presta.metier != null %}
            <h6 class="card-title my-3">Responsable : {{ presta.responsable }} ({{ presta.metier }})</h6>
          {% endif %} #}
          <div class="card-text">
            {{ presta.description|raw }}
          </div>
        </div>
        {% if presta.geolocs|length > 0%}
          <div class="card-header"><h2>{{ 'Adresse(s)'|trans }} :</h2></div>
          <ul class="list-group list-group-flush">
            {% for geoloc in presta.geolocs %}
              <li class="list-group-item">
                {{ geoloc.geoloc }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
        {% if presta.contacts|length > 0%}
          <div class="card-header"><h2>{{ 'Contact'|trans }}{{ (presta.contacts|filter(v => v.enabled)|length > 1) ? 's' : '' }} :</h2></div>
          <ul class="list-group list-group-flush">
            {% for contact in presta.contacts|filter(v => v.enabled) %}
              <li class="list-group-item">
                {{ contact.name }} : {% if contact.tel != null %}{{ contact.tel }}{% endif %} / {% if contact.email != null %}{{ contact.email }}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>

	<div class='col-12 col-lg-3 col-md-4 col-sm-12 col-xs-12'>
			{% include '@kohinos/common/rubriques.html.twig' %}
		{% include '@kohinos/common/news.html.twig' %}
	</div>

  </div>
</div>
{% endblock %}


{% block contenat %}
<div class='container newslist mt-5'>
  <h1>{{ presta.raison }}</h1>
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <div class="contentnews p-4 mt-5">
        <h2>{{ presta.statut }}</h2>
        <h3>Responsable : {{ presta.responsable }} ({{ presta.metier }})</h3>
    <span class="h4">SIRET : {{ presta.siret }}</span>
    {% if presta.web is not empty %}
    <span class="h4"><a href='{{ presta.web }}'>Site web</a></span>
    {% endif %}
    </div>
  </div>
</div>
{% endblock %}
