{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container newslist mt-2'>
	{% include '@kohinos/block/breadcrumb.html.twig' with {'label': rubrique.name, 'label2': '', 'url2': path('rubriques_prestataire') } %}
  	<!-- h1 class='text-primary'>
	  	{% if rubrique.media is not null %}
			<span style='width:32px;'>{% thumbnail rubrique.media, 'small' %}</span>
		{% endif %} {{rubrique.name}}
	</h1 -->
	
	<div class="row">

	
  	<!-- div class="my-3 p-3 bg-white rounded box-shadow" -->
		<p>{{rubrique.content|raw}}</p>
		{% for presta in prestataires %}
		        <div class="col-12 col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-2">

			<div class='my-2'>
				{% include '@kohinos/presta/onepresta.html.twig' with { 'withrubrique': false} %}
			</div>
	                </div>
	    {% endfor %}
            </div>

	</div>
</div>
{% endblock %}
