{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-shopping-basket mr-4"></i> {{'Achat de monnaie locale'|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{# @TODO : ajouter un KOH_BLOCK_ON_INVALID_COTISATION #}
	{# Il est possible d'empêcher l'utilisation du compte s'il n'y a pas de cotisation valide! #}
	{# {% if not isCotisationValid(app.user) %}
		<div class='text-danger mb-3'>{{ 'Si vous souhaitez utiliser les fonctionnalités de votre compte, vous devez avoir une cotisation à jour !'|trans }}</div>
	{% else %} #}
		{% set form = getAchatMonnaieAdherentForm(app.user) %}

		{{form_start(form)}}
			{{ form_errors(form) }}

			{{ form_row(form.montantradio, {attr: {class: 'custom-control custom-radio custom-control-inline kohinos-montant-radio'} }) }}
			{{ form_row(form.montant) }}

			<p>{{ 'Montant choisi'|trans }} : <span class="achat_monnaie_montant_choisi">{{ form.montantradio.vars.value }} €</span></p>

	    	{{ form_row(form.save)}}
	    	{{ form_row(form.payOther, {attr: {class: 'btn-secondary'}})}}

		{{form_end(form)}}
	{# {% endif %} #}
{% endblock blockcontent %}
