{% extends '@kohinos/block/block_collapse.html.twig' %}

{% set form = getAchatMonnaieAConfirmerAdherentForm(app.user) %}
{% block blocktitle %}
	<i class="fa fa-shopping-basket mr-4"></i> {{ (form.vars.value.type~'_title')|trans({}, 'flux') }}
{% endblock blocktitle %}
{% block blockcontent %}

	{% include '@kohinos/flux/block/demande_achat_monnaie.html.twig' %}
	
{% endblock blockcontent %}
