{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-exchange fa-exchange-alt mr-4"></i> {{'Virement vers un prestataire'|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{% set form = getTransactionAdherentPrestataireForm(app.user) %}
	{{ parent() }}
{% endblock blockcontent %}