{% if menuItems is not defined %}
	{% set menuItems = getMenuItemsFromAlias('footer') %}
{% endif %}

<ul class="navbar-nav mt-2">
	{% if app.user is null and isPayzenEnabled() %}

		<li class="nav-item dropdownmenu-item has-child dropdown" role="menu-item">
			<a href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link parent dropdown-toggle ">{{ 'Adhérer'|trans }}</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown1">
				<a href="/adherer" class="dropdown-item">{{ 'Adhérer à la MLC'|trans }}</a>
			</div>
		</li>
		
	{% endif %}
	{% if KOH_USE_WORDPRESS is not defined %}
		{% set KOH_USE_WORDPRESS = true %}
	{% endif %}
	{% if KOH_USE_WORDPRESS == 'false' and menuItems is not null and menuItems|length > 0 %}
		{% import '@kohinos/common/menu_tree_macro.html.twig' as tree %}
		{% set currentPath = app.request.requestUri %}
		{{ tree.menu(menuItems, currentPath) }}
		
		<li class="nav-item menuitem">
			<a class="nav-link" href='javascript:;' onclick="window.scrollTo({top:0,behavior:'smooth'});" class='remonter'> Remonter &uarr; </a>
		</li>
	{% endif %}
	
</ul>
