<footer class="container footer">
	{# TODO : ajouter crédit et lien vers la solution de gestion de la monnaie locale complémentaire libre de droits #}
	<hr/>

	<nav class="footer-menu navbar navbar-expand-md my-2">
		{% block menu %}
			{% if app.request.attributes.get('_route') != 'installation' %}
				{% include '@kohinos/common/footer-menu.html.twig' %}
			{% endif %}
		{% endblock menu %}

		<div class="mt-2">
			<a href='https://www.kohinos.com' rel="noopener noreferrer">Kohinos</a>
			<span class='appversion'>
				<a href='https://www.gnu.org/licenses/agpl-3.0.fr.html' rel="noopener noreferrer" style='color:grey;'>(Licence AGPL v3)</a>
				<span> - v{{ shivas_app_version }}</span>
			</span>
		</div>
	</nav>

	<div class="justify-content-center justify-content-md-start d-flex">
		<a class="footer-logo-BEC d-block" href="https://budgetecocitoyen.puy-de-dome.fr/" target="_blank" rel="noopener noreferrer">
			<img src="/images/BEC_visuel_financement.png" width="225" height="225" class="d-inline-block align-top" alt="Projet Financé par le Budget Ecologique Citoyen du Puy-de-Dôme" loading="lazy">
		</a>
	</div>
</footer>