{% set allgroupes = getAllGroupes() %}
{# ON AFFICHE LES GROUPES LOCAUX UNIQUEMENT SI IL Y EN A PLUS D'UN #}
{% if allgroupes|length > 1 %}
	<div class="groupeslocaux card mb-2">
		<div class="card-header sable">
			<h2 style='text-align:left;'><i class="fa fa-paperclip"></i> {{ 'Groupes Locaux'|trans }}</h2>
		</div>
		<div class="card-body">
			<div class="card-text">
				<p style="text-align:justify;">
					{% for groupe in allgroupes %}
						<a class='groupe' href='{{ path('show_groupe', {'slug': groupe.slug}) }}'>{{groupe.name}}</a>{% if not loop.last %}<span class='mr-2 ml-2'>•</span> {% endif %}
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
{% endif %}