{% trans_default_domain 'messages' %}
<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="fr"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="fr-FR">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{title|default('Kohinos') }}</title>
	<meta name="description" content="{{ description|default('Kohinos : Outil de gestion de monnaie locale complémentaire') }}" />
	<meta name="keywords" content="{{ keywords|default('Kohinos, mlc, mlcc, monnaie locale, monnaies locales') }}" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">

    {# FAVICON #}
    {% block favicon %}
        {# https://www.favicon-generator.org #}
        <link rel="icon" type="image/png" href="/images/favicon/favicon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/images/favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    {% endblock favicon %}

	{# POUR AJOUTER DES META ( like og: ) #}
	{% block meta %} {% endblock meta %}

 	{% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock stylesheets %}

    <link rel="stylesheet" href="/leaflet/leaflet.css">

    <link rel="stylesheet" href="/upload/media/app.20220311.min.css">

	{# POUR AJOUTER DES CSS #}
 	{% block css %} 
    {% endblock css %}
</head>

<body lang="fr">
    <input type="hidden" name="koh_map_center" id="koh_map_center" value='{{KOH_MAP_CENTER|default('')}}' />
    <input type="hidden" name="koh_map_zoom" id="koh_map_zoom" value='{{KOH_MAP_ZOOM|default('')}}' />

		{% include '@kohinos/common/modale_choix_groupe.html.twig' %}
    {% include '@kohinos/common/modale_confirmation_transaction.html.twig' %}

    <!-- HEADER -->
    {% block header %}
      {% include '@kohinos/common/header.html.twig' %}
    {% endblock header %}

    <!-- CONTAINER -->
    <div class="container">
        {% include '@kohinos/common/flash-messages.html.twig' %}
        {% block content %}
        <!-- CONTENT -->
        {% endblock content %}
    </div>

    <!-- FOOTER -->
    {% block footer %}
      {% include '@kohinos/common/footer.html.twig' %}
    {% endblock footer %}

	{% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock javascripts %}

    {# POUR AJOUTER DES JS #}
    {% block js %} {% endblock js %}

    {# AFFICHAGE DE LA MODALE DE CHOIX DU RÔLE (groupe associé aux rôles) #}
    {% if showModalGroupChoice() %}
        <script>
            $(document).ready(function() {
                $('#roleGroupeModal').modal('show');
            });
        </script>
    {% endif %}
    <script src="/build/annexe.js"></script>

</body>

</html>
