<div class="lastnewslist">
	<h2><i class="fa fa-newspaper"></i> {{ 'Actualités'|trans }}</h2>
	<p>
		{% for news in getLastNews(5) %}
			<div class="card mb-2">
				<div class="card-header"><h3 class="h5"><a href='{{path('show_news', {'slug': news.slug})}}'>{{ news.title|capitalize }}</a></span></div>
				{% if news.media %}
						<div class="card-image">
							{% set pathMedia = mediaurl(news.media, 'reference') %}
							{% if pathMedia ends with '.jpg' or pathMedia ends with '.jpeg' or pathMedia ends with '.png' or pathMedia ends with '.bmp' or pathMedia ends with '.gif' %}
								<img src="{% path news.media, 'reference' %}" style="max-width: 100%;"/>
							{% else %}
								<a href="{% path news.media, 'reference' %}">{{'Télécharger'|trans}}</a>
							{% endif %}
						</div>
					{% endif %}
				<div class="card-body">
					<div class="card-text">
						{{news.content|truncate(200)|raw}}
					</div>
				</div>
				<div class="card-footer text-muted">
					{{'Créée le'|trans}} {{news.createdAt|date('d/m/Y')}}
				</div>
			</div>
		{% endfor %}
	</p>
</div>