<div class="lastnewslist">
		{% for news in getLastNews(5) %}
			<div class="card mb-2">
				<div class="card-header sable" style='padding:.5em'>				
					<h3><a href='{{path('show_news', {'slug': news.slug})}}'>{{ news.title|capitalize }}</a></h3>
				</div>
				<div class="card-body">
					<div class="card-text">
     
						{% if news.media %}
							{% set pathMedia = mediaurl(news.media, 'reference') %}
							{% if pathMedia ends with '.jpg' or pathMedia ends with '.png' or pathMedia ends with '.jpeg' or pathMedia ends with '.gif' %}
								<img src="{% path news.media, 'reference' %}" style="max-width: 100%;"/>
							{% else %}
								<a href="{% path news.media, 'reference' %}">{{'Télécharger'|trans}}</a>
							{% endif %}

						{% endif %}
                                                <div style='padding:.5em;'>
						     <div class="text-muted">{{'Le'|trans}} {{news.createdAt|date('d/m/Y')}}</div>

						{{news.content|truncate(200)|raw}}
                                                </div>
					</div>
				</div>

			</div>
		{% endfor %}
	
</div>