<div class='container prestalist mt-2'>
    <div class="row">
    {% for presta in prestas %}
	    <div class="col-12 col-md-4 mb-2">
	    	{% include '@kohinos/presta/onepresta.html.twig' %}
		</div>
		
		{% if loop.index%4 == 0 %}
			</div>
			<div class="row">
		{% endif %}

    {% endfor %}
	</div>
</div>
