{% set rubriques = getAllRubriques() %}
{% if rubriques == null or rubriques|length > 0 %}
    <div class="rubriques card mb-2">
        <div class="card-header sable">
            <h3><i class="fa fa-flag"></i><span class='h4 ml-2'><a href='/prestataires/rubriques'>{{ 'Rubriques'|trans }}</a></span></h3>
        </div>
        <div class="card-body">
            <div class="card-text">
                <div style="text-align:justify;">
                    {% for rubrique in rubriques %}
                        {% if rubrique.prestataires|length > 0 %}
                            <p class='rubrique text-truncate'>
                                <a class='rubrique' href='{{ path('show_rubrique', {'slug': rubrique.slug}) }}' data-toggle="tooltip" data-placement="bottom" title="{{rubrique.name}}">
                                    {% if rubrique.media is not null %}
                                        {% thumbnail rubrique.media, 'preview' with {'alt': '', 'style': 'width: 24px; max-width: 24px'} %}
                                        {{rubrique.name}}
                                    {% else %}
                                        <span style='margin-left:25px;'>{{rubrique.name}}</span>
                                    {% endif %}
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}