<div class="stats card mb-2">
	<div class="card-header sable">
		<h2><i class="fa fa-bars"></i> <span class='h4 ml-2'>{{ 'À ce jour'|trans }}</span></h2>
	</div>
	<div class="card-body">
		<div class="card-text">
			<p>
				<i class="fas fa-check vert"> </i> {{ showMlcStats('user') }} {{ 'utilisateurs'|trans }}<br>
			</p>
			<p>
				<i class="fa fa-check vert"> </i> {{ showMlcStats('prestataire') }} <a href="{{ path('liste_prestataire') }}" title="{{ 'Nombre de prestataires'|trans }}">{{'prestataires'|trans}}</a> 
                               <!-- /* {{'et'|trans}} {{ showMlcStats('partenaire') }} <a href="{{ path('liste_partenaire') }}" title="{{'Nombre de partenaires'|trans}}">{{ 'partenaires'|trans }}</a> */ -->
			</p>
			<p>
				<i class="fa fa-check vert"> </i> {{ showMlcStats('groupe') }} {{ 'groupes locaux'|trans }}
			</p>
			<p>
				<i class="fa fa-check vert"> </i> {{ showMlcStats('comptoir') }} <a href="{{ path('comptoirs_liste') }}" title="{{ 'Nombre de comptoirs'|trans }}">Comptoirs</a>
			</p>
			{# <p>
				<i class="fa fa-exchange-alt vert"> </i> {{ getTotalMonnaieEmise() }} {{ KOH_MLC_NAME_SMALL|default('') }} émises
			</p> #}
			<p>
				<i class="fa fa-exchange-alt vert"> </i> {{ getStatsMonnaie('mlc_nantie') }} {{ KOH_MLC_NAME_SMALL|default('') }} papier nantie
			</p>
			<p>
				<i class="fa fa-exchange-alt vert"> </i> {{ getStatsMonnaie('emlc') }} {{ KOH_MLC_NAME_SMALL|default('') }} numérique nantie
			</p>
			<p>
				<i class="fa fa-exchange-alt vert"> </i> {{ (getStatsMonnaie('emlc') + getStatsMonnaie('mlc_nantie')) }} {{ KOH_MLC_NAME_SMALL|default('') }} en circulation
			</p>
			{# @TODO (pas prioritaire) : Statistiques avancées :
			<p>
				<i class="fa fa-check vert"> </i> {{ KOH_MLC_NAME_SMALL|default('') }} reconverties
			</p>
			<p>
				<i class="fa fa-check vert"> </i> {{ KOH_MLC_NAME_SMALL|default('') }} en circulation
			</p>
			<p>
				<i class="fa fa-check vert"> </i> d'échanges numériques
			</p> #}
		</div>
	</div>
</div>