{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-external-link fa-external-link-alt mr-4"></i> {{ 'Retour au groupe'|trans }}
{% endblock blocktitle %}
{% block blockcontent %}
	{% if app.session.has('_groupegere') %}
		{% set form = getTransfertComptoirGroupeForm(app.user) %}
		{{ parent() }}
	{% else %}
		<span><em> {{ 'Aucun Groupe local assigné ! Veuillez contacter un administrateur !'|trans }} </em></span>
	{% endif %}
{% endblock blockcontent %}