{% set id = id|default('mapid') %}
{% set style = style|default('') %}
{% set title = title|default('Carte') %}
<!-- div class='cartetitle mb-3'>
	<h4><i class="fa fa-map"></i> {{title}}</h4>
</div -->
<div id="{{id}}" style="{{style}}" class='my-3'></div>