{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-user-tie mr-4"></i> {{'Professionnel'|trans}}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set form = getPrestataireInfosForm(app.user) %}
	{{form_start(form)}}
		{{ form_row(form.groupe) }}
		{% if getCurrentPrestataire().rubriques|length > 0%}
			<div class="form-group">
				<label>Rubriques :</label>
				{% for rubrique in getCurrentPrestataire().rubriques %}
					<input disabled="disabled" class='form-control' value='{{rubrique.name}}' />
				{% endfor %}
			</div>
		{% endif %}
		{{ form_row(form.raison) }}
		{{ form_row(form.statut) }}
		{{ form_row(form.siret) }}
		{{ form_row(form.iban) }}
		{{ form_row(form.acceptemlc) }}
		{{ form_row(form.responsable) }}
		{{ form_row(form.metier) }}
		{{ form_row(form.description) }}
		<h2>Adresses</h2>
		<div class="geolocs" data-prototype="{{ form_widget(form.geolocs.vars.prototype)|e('html_attr') }}">
			{% for geoloc in form.geolocs %}
				{{ form_row(geoloc) }}
			{% endfor %}
		</div>
		{{ form_row(form.save) }}
	{{form_end(form)}}
{% endblock blockcontent %}