{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-exchange fa-exchange-alt mr-4"></i> Virement vers un adhérent
{% endblock blocktitle %}
{% block blockcontent %}
	{% set form = getTransactionPrestataireAdherentForm(app.user) %}
	{{ parent() }}
{% endblock blockcontent %}