{% extends '@kohinos/block/onetransaction.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-exchange fa-exchange-alt mr-4"></i> Virement vers un prestataire
{% endblock blocktitle %}
{% block blockcontent %}
	{% set form = getTransactionPrestatairePrestataireForm(app.user) %}
	{{ parent() }}
{% endblock blockcontent %}