{% extends '@kohinos/block/block_collapse.html.twig' %}

{% block blocktitle %}
	<i class="fa fa-apple-alt mr-4"></i> {{ 'Inscription AMAP/Marchés'|trans }}
{% endblock blocktitle %}
{% block blocksubtitle %}
{% endblock blocksubtitle %}
{% block blockcontent %}
	{% set form = getGroupePrestataireInscriptionForm(app.user) %}
	{{form_start(form)}}
		<div class="groupeprestas" data-prototype="{{ form_widget(form.groupeprestataires.vars.prototype)|e }}">
			{% for groupe in form.groupeprestataires %}
				{{ form_row(groupe) }}
			{% endfor %}
		</div>
		{{ form_row(form.save) }}
	{{form_end(form)}}
{% endblock blockcontent %}