{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container groupeslist mt-2'>
    {% include '@kohinos/block/breadcrumb.html.twig' with {'label' : 'Groupes locaux'} %}
    
    {% for groupe in groupes %}
        <div class="card mb-2">
            
            <div class="card-header sable"><h2><a class='groupe' href='{{ path('show_groupe', {'slug': groupe.slug}) }}'>{{groupe.name}}</a></h2></div>
            
            <div class="card-body">
                <div class="card-text"><div style='padding:.5em;'>{{groupe.content|raw}}</div></div>
            </div>
            
            {% if groupe.comptoirs|length > 0 %}
                <ul class="list-group list-group-flush">

                    {% for comptoir in groupe.comptoirs %}
                        <li class="list-group-item">
                            <a href='{{ path('show_comptoir', {'slug': comptoir.slug}) }}'>{{comptoir.name}}</a>
                        </li>
                    {% endfor %}

                </ul>
            {% endif %}

        </div>
    {% endfor %}

</div>
{% endblock %}
