{% extends '@kohinos/common/layout.html.twig' %}

{% block content %}
<div class='container groupeshow mt-2'>
    {% include '@kohinos/block/breadcrumb.html.twig' with {'label': groupe.name, 'label2': 'Groupes locaux', 'url2': path('liste_groupe') } %}
    <div class="p-2 bg-white rounded box-shadow">
        <div class="contentgroupe p-4 mt-2">
            <div class="card mb-2">
                <div class="card-header sable"><h2>{{groupe.name}}</h2></div>
                <div class="card-body">
                    <div class="card-text">
                        <div style='padding:.5em;'>{{groupe.content|raw}}</div>
                    </div>
                </div>
                {% if groupe.comptoirs|length > 0 %}
                    <div class="card-header"><p>{{ groupe.comptoirs|length }} comptoirs</p></div>
                    
                    <ul class="list-group list-group-flush">
                        {% for comptoir in groupe.comptoirs %}
                            <li class="list-group-item">
                                <a href='{{ path('show_comptoir', {'slug': comptoir.slug}) }}'>{{comptoir.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>

                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

